html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}


*{max-width: 100%;
box-sizing:border-box;
}

html{font-size:62.5%;}

.MainDiv{
    width: auto;
    /* height: 125vh; */
    /* background-color: #42BFDD; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    text-shadow: 1px 1px 1px black;
}

p {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 4rem;
    font-weight: bold;
    color:white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url('https://i.pinimg.com/originals/e4/0e/aa/e40eaa8b9839461ea1c45889e5bfb7f9.jpg'); */
    width: 50%;
    /* height:100vh; */
    margin: 1rem auto;
    font-size: 2rem;
    flex-direction: column;
    box-shadow: 10px 10px 8px gray;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

#image {
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
    z-index: -100;
    width: 300%;
    height: 100%;
    opacity: .5;
}


.label{
    margin-top:1rem ;
    font-family: 'Montserrat', sans-serif;
}

footer {
        /* display: flex;
        flex-direction: column;
        justify-content: space;
        align-content: center; */
    /* background: linear-gradient(to bottom right,white 0%,  rgb(104, 201, 250)1 00%); */
    background-color: #A1A4A5;
    box-shadow: 10px 10px 8px rgb(104, 201, 250);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

span{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.randomq{
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
.auth{
    color:red;
    text-align: center;
}
.sesubmit{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
}

.formSignIn{
    width:40%;
    font-family: 'Montserrat', sans-serif;
}